<div class="card h-100">
          <% if training.images.any? %>
          <%= image_tag training.images.first.variant(resize: "100x100").processed %> <!--Chequear!!-->
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= training.name %></h5>
          </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><i class="fas fa-street-view"></i> <%= training.place.location %></li>
              <li class="list-group-item"><i class="fas fa-running"></i> <%= training.sport %></li>
              <li class="list-group-item"><i class="fas fa-signal"></i> <%= training.level %></li>
              <li class="list-group-item"><i class="far fa-calendar-alt"></i> <%= training.date.strftime('%d-%m-%y -> %H:%M') %></li>
            </ul>
          <div class="card-body">
            <!--Rated-->
            <% if user_signed_in?%>
              <td id='td-style'><% if training.concluded? %>
                <td><%=link_to 'Calificar', training %></td>
                  <% if training.rated?(current_user)%> 
                    <td><%= link_to 'Calificar', training_rateds_path(training) %></td>
                  <% end %>
              <% else %>
                  <%= '' %>
              <% end %></td>
            <% end %>
            <a href="#" class="card-link">
              <%= link_to 'Mirar', training %>
              <% if user_signed_in? && @training.user == current_user %>
                <%= link_to 'Editar', edit_training_path(@training) %> |
              <% end %>   
            </a>
            <a href="#" class="card-link">
              <%= link_to 'Quiero Entrenar', training %> <!--Este link es para pedir solicitud de entrenamiento--> 
            </a>
          </div>
        </div>