
<p id="notice"><%= notice %></p> <!--podría ser ujs-->

<h1 class="training">Trainings</h1>
 
  <div class="col-xs-4 col-sm-2 col-md-2 right"> 
    <% if user_signed_in? && @training.user == current_user %>
      <%= link_to 'New Training', new_training_path, class: "btn btn-info btn-sm rigth" %>  
    <% end %>  
  </div>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% @trainings.reverse.each do |training| %> <!--reverse.each: da vuelta el orden... a,b,c sería c,b,a-->

      <div class="col">
        <div class="card h-100">
          <img src="<%#<%= image_tag Training.last.images.last.variant(resize: "100x100").processed %>#%>" class="card-img-top" alt="nieve"> <!--Chequear!!-->
          <div class="card-body">
            <h5 class="card-title"><%= training.name %></h5>
          </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><%= training.place.location %></li>
              <li class="list-group-item"><%= training.sport %></li>
              <li class="list-group-item"><%= training.level %></li>
              <li class="list-group-item"><%= training.date %></li>
            </ul>
          <div class="card-body">
            <% if user_signed_in? %>
                  <!--Boton rated-->
                  <% if training.rated?(current_user)%> 
                    <td><%= button_to 'rated', training_rateds_path(training) %></td>
                  <% else %>
                    <td><%= button_to 'rated', training_rateds_path(training) %></td>
                  <% end %> 
            <% end %>
            <a href="#" class="card-link">
              <%= link_to 'Show', training %>
              <% if user_signed_in? && @training.user == current_user %>
                <%= link_to 'Edit', edit_training_path(@training) %> |
              <% end %>   
            </a>
          </div>
        </div>
      </div>
    <% end %>
  </div>



    
  <%# <ul class="list-group list-group-flush">
    <li class="list-group-item">Deporte</li>
    <li class="list-group-item">Dificultad</li>
    <li class="list-group-item">Hora</li>
    <li class="list-group-item">Lugar</li>
  </ul>
  <div class="card-body">
    <%#<a href="#" class="card-link"><%= link_to 'Show', training %><!--</a>-->
    <%#<a href="#" class="card-link"><%= link_to 'Edit', edit_training_path(training) %><!--</a>-->
  <%# </div> %>
<%# </div> %> 

<%# <table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Sport</th>
      <th>Level</th>
      <!--<th>Active</th>-->
      <th>User</th>
      <th>Place</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trainings.each do |training| %>
      <%# <tr> %>
        <%# <td><%= training.name %><!--</td>
        <%# <td><%= training.date %></td> %>
        <%# <td><%= training.sport %></td> %>
        <%# <td><%= training.level %></td> %> %>-->
        <%#<td><%= training.active %><!--</td>-->
        <%# <td><%= training.user.name %><!--</td> %>
        <%# <td><%= training.place.location %></td> %>
          <%# <td><%= link_to 'Show', training %></td> %>
        <%# <% if user_signed_in? && @training.user_id == current_user.id %> %>
          <%# <td><%= link_to 'Edit', edit_training_path(training) %></td> %>
          <%# <td><%= link_to 'Destroy', training, method: :delete, data: { confirm: 'Are you sure?' } %></td> %>
        <%# <% end %> %>
      <%# </tr> %>
    <%# <% end %> %>
  <%# </tbody> %>
<%# </table> %> %>-->

<br>



<%= render 'shared/footer' %>
