var training_detail = document.querySelector('#training_detail')

training_detail.innerHTML = '<p><strong>Nombre:</strong><%= @training.name %></p>'
training_detail.innerHTML += '<p><strong>Deporte:</strong><%= @training.sport %></p>'
training_detail.innerHTML += '<p><strong>Nivel:</strong><%= @training.level %></p>'
training_detail.innerHTML += '<p><strong>Fecha:</strong><%= @training.date %></p>'
training_detail.innerHTML += '<p><strong>Deportista:</strong><%= @training.user.name %></p>'
training_detail.innerHTML += '<p><strong>Lugar:</strong><%= @training.place.id %></p>'

var input_text = document.querySelector('[a="training[Show]"]')
input_text.value = ''