<%= form_with(model: rated) do |form| %>
  <% if rated.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rated.errors.count, "error") %> prohibited this rated from being saved:</h2>

      <ul>
        <% rated.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :value %>
    <%= form.text_area :value %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

