<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Entrenamientos:</strong>
  <%= @user.trainings.join(', ') %>
</p>

<p>
  <strong>Image:</strong>
  <%= @user.image %>
</p>
<%= pie_chart @training_group, legend: "bottom" %>
<%= line_chart @training_group, legend: ""%>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
