<%# <div class="content">   
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Active</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
    </ul>
</div>  %>

<%#<nav class="navbar navbar-expand-lg navbar-light bg-light", style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand" href=""><%= link_to 'Home', root_path %> <!--</a>-->
    <!--<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Opciones
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <% if user_signed_in? %>
              <li><a class="dropdown-item" href="#"><%= link_to 'Editar perfil', edit_user_registration_path %></a></li>
              <li><a class="dropdown-item" href="#"><%= link_to 'Trainings', trainings_path %></a></li>
              <li><a class="dropdown-item" href="#"><%= link_to 'Crear entrenamiento', new_training_path %></a></li>
              <li><a class="dropdown-item" href="#"><%= link_to 'Buscar entrenamiento', trainings_path %></a></li> Generar el search para entrenamientos según tu ubicación-->
              <%#<li><a class="dropdown-item" href="#"><%= link_to 'Cerrar sesión', destroy_user_session_path, method: :delete %><!--</a></li>-->
              <!--<li><a class="dropdown-item" href="#"> link_to 'Administrador', new_admin_user_session_path </a></li>-->
            <%#<% else %>
              <!--<li><a class="dropdown-item" href="#"># link_to 'Administrador', new_admin_user_session_path </a></li>-->
              <%#<li><a class="dropdown-item" href="#"><%= link_to 'Regístrate', new_user_registration_path %><!--</a></li>
              <%#<li><a class="dropdown-item" href="#"><%= link_to 'Iniciar sesión', new_user_session_path %></a></li>-->
            <%#<% end %>
          <!--</ul>
        </li>
      </ul>-->
      


      <!--<form class="d-flex">
        <%#<%= search_form_for @q do |f| %>
          <%#<%= f.search_field :content_cont %>
          <%#<%= f.submit %>
        <%#<% end %>
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" >
      </form>-->
    <!--</div>
  </div>
</nav>-->




<%= form_with(model: place, local: false) do |form| %>
  <% if place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(place.errors.count, "error") %> prohibited this place from being saved:</h2>

      <ul>
        <% place.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :country %>
    <%= form.text_field :country %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>

  <div class="field">
    <%= form.label :active %>
    <%= form.check_box :active %>
  </div>

  <div class="actions">
    <%= form.submit data: { disable_with: 'Creando Lugar nuevo', confirm: 'Estás seguro?' } %>
  </div>
<% end %>





<div>
      <!--<script src="https://maps.googleapis.com/maps/api/js"></script>
      <script>
        //function initialize() {
         // var location = {lat: <%= @training.latitud %>. lng: <%= @training.longitude%>};
         // var map = new google.maps.Map(document.getElementById("map"), {
           // center: location,
           // zoom: 14,
          //}); %>

         // var marker = new google.maps.Marker({
          //  position: location,
         //   map: map
         // });

          // var infoWindow = new google.maps.InfoWindow({
          //   content: '<div id="content"><%= image_tag @training.cover_photo(:medium) %></div>'
          // });

          // infoWindow.open(map, marker);
        }

        google.maps.event.addDomListener(window, 'load', initialize);
      </script> -->



      <!--Clave API google MAPS AIzaSyDMpNrDZDtAqlja950Cee2DZtV_sa4I6KY-->