<nav class="navbar sticky-top navbar-expand-lg navbar-light  bg-gradient">
  <div class="container">
    <div class="col-3 my-auto py-2" >
      <a href="#scrollspyHeading1" class="logo-btn" role="button">
        <%= image_tag "logo.png", alt: "", width: "30", height: "24" %>
      </a>
    </div>

    <div class="col-5 my-auto p-2 radius-container custom-shadow">
      <div class="row px-2 align-content-center">
        <div class="col-11">
          <!--<input type="text" class="search-input">-->
            <%= form_tag(places_path, method: :get, class:"form-inline", role: 'search') do %>
              <div class="input-group">
                  <%= text_field_tag :location,
                  params[:location],
                  id: 'places_search',
                  class: 'form-control' %>              
                
                <div class="col-5 my-auto p-2">
                  <div class="input-group-btn search-panel px-0">
                    <%= button_to 'Clear', trainings_path, class: "btn btn-default" %>
                    <%= submit_tag 'Search', name: nil, class: "fas fa-search " %>
                  </div>
                  <%# <button class="search-btn">
                    <i class="fas fa-search"></i>
                  </button> %>
                </div>
              </div>
            <% end %>
        </div>
        
      </div>
    </div>

    

    <div class="col-1 my-auto">
      <div class="row justify-content-end">
        <div class="col-2 my-auto p-2">
          <a href="#" class="profile-btn d-flex justify-content-evenly" role="button" id="default">
            <!--<i>Notificaciones</i>-->
          </a>
        
        </div>
      </div>
    </div>

    <div class="col-3 my-auto">
      <div class="row justify-content-end">
        <div class="col-3 m-auto p-2 radius-container custom-shadow dropdown show">
          <a href="#" class="profile-btn d-flex justify-content-evenly" role="button" id="defaultDropdown" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
            <i class="fas fa-bars"></i><i class="far fa-user-circle"></i>
          </a>

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start mt-2 custom-shadow border-0" aria-labelledby="defaultDropdown">
            <% if user_signed_in? %>
                <li><a class="dropdown-item" href="#"><%= link_to 'Perfil', users_path%></a></li>
                <li><a class="dropdown-item" href="#"><%= link_to 'Editar perfil', edit_user_registration_path %></a></li>
                <li><a class="dropdown-item" href="#"><%= link_to 'Notificaciones', new_partner_path%></a></li>
                <li><a class="dropdown-item" href="#"><%= link_to 'Trainings', trainings_path %></a></li>
                <li><a class="dropdown-item" href="#"><%= link_to 'Crear entrenamiento', new_training_path %></a></li>
                <li><a class="dropdown-item" href="#"><%= link_to 'Buscar entrenamiento', places_path %></a></li>
                <li><a class="dropdown-item" href="#"><%= link_to 'Cerrar sesión', destroy_user_session_path, method: :delete %></a></li>                            
            <% else %>
              <li class="p-1"><a href="#"><%= link_to 'Regístrate', new_user_registration_path %></a></li>
              <li class="p-1"><a href="#"><%= link_to 'Iniciar sesión', new_user_session_path %></a></li>
              <li class="p-1"><a href="#"><%= link_to 'Administrador', new_admin_user_session_path %></a></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>