<div class="card m-auto border-0 custom-shadow mb-5 pb-4" style="width: 18rem;">
  <div class="card-body">
  <h3 class="card-title text-center mt-2 mb-4">Log in</h3>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class="row px-3 pb-3">
        <h6 class="px-0 mb-1"><%= f.label :email %></h6>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "custom-input" %>
      </div>
      
      <div class="row px-3 pb-3">
        <h6 class="px-0 mb-1"><%= f.label :password %></h6>
        <%= f.password_field :password, autocomplete: "current-password", class: "custom-input" %>
      </div>


      <% if devise_mapping.rememberable? %>
        <div class="d-inline-flex px-1 pb-3">
          <div class="d-flex align-items-center"><%= f.check_box :remember_me %></div>
          <div class="my-auto ms-2"><%= f.label :remember_me %></div>
        </div>
      <% end %>

      <div class="text-center">
        <%= f.submit "Log in", class: "custom-button" %>
      </div>
    <% end %>

    <div class="text-center my-2">
      <p class="mb-0"><small>or</small></p>
    </div>

    <div class="text-center">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
