
<%= form_with(model: place, class: 'places_form_with', url: "/trainings/create", method: :post, local: false) do |form| %>
  
  <div class="field">
    <%= form.label :country %>
    <%= form.text_field :country %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>

  <div class="actions">
    <%= form.submit %> <!--data: { disable_with: 'Creando Lugar nuevo', confirm: 'Estás seguro?' } -->
  </div>
<% end %>