<p id="notice"><%= notice %></p>

<p>
  <strong>País:</strong>
  <%= @place.country %>
</p>

<p>
  <strong>Ciudad:</strong>
  <%= @place.city %>
</p>

<p>
  <strong>Dirección:</strong>
  <%= @place.location %>
</p>

<p>
  <strong>Latitud:</strong>
  <%= @place.latitude %>
</p>

<p>
  <strong>Longitud:</strong>
  <%= @place.longitude %>
</p>

<p>
  <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=15&size=400x300&center=#{@place.latitude},#{@place.longitude}&key=AIzaSyDKo32oRZX1c3LtHxc0hXodf24IXpFRtbo", alt: "Map" %> 
</p>

<p>
  <strong>Active:</strong>
  <%= @place.active %>
</p>

<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
